.TheordersdetailContent_shjak22 {
    padding-right:40px;
    padding-top:15px;

    .bread {
        background-color: rgb(241,241,241);
        border-radius:5px;
        margin-bottom:15px;
    }

    .statuslist {
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        margin:15px 0;
        .ant-steps-title {
            font-size:12px;
        }
    }

    .header-message {
        color: #444;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        margin: 5px 0 5px 0;
    }

    .tabs {
        margin:15px 0;
    }

    .formWrapPjsl {
        padding-bottom: 10px;
    }

    .formWrapP {
        padding:5px 10px;
        border-bottom:1px dotted #999999;
        th,td {
            text-align:center;
        }

        th {
            color: #ffffff;
            background-color: #1DA57A;
            padding: 10px 8px;
        }

        td {
            background-color: #ffffff;
            color:#000000;
            padding: 10px 8px;
        }
    }

    .listpart {
        width:100%;
        padding:5px 0;
    }

    .list-left {
        height:30px;
        line-height:30px;
        color: #666666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size:12px;
    }

    .list-right {
        height:30px;
        line-height:30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size:12px;
    }

    .input-file {
        position: relative;
        width:40%;
        height:30px;
        border-radius:5px;
        background-color: #fafafa;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        color:#232323;
        font-size:12px;
        border:1px solid #d9d9d9;
        cursor: pointer;
    }

    .input-file-file {
        opacity: 0;
        width:90px;
        height:30px;
        position:absolute;
        left: 0;
        top:0;
        cursor: pointer;
    }

    .payfr {
        float: left;
        width:90px;
        height:30px;
        border-radius:5px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        background-color: #1DA57A;
        color: #ffffff;
        margin-left:20px;
        font-size:12px;
        border:1px solid #d9d9d9;
    }

    .uploadText {
        height:30px;
        line-height: 30px;
    }

    .tips {
        width: 290px;
        border-radius: 5px;
        background-color: #f1f1f1;
        border: 1px solid #e5e5e5;
        margin-left:100px;
    }

    .message-sp {
        padding:15px;
        background-color:#ffffff;
        border-radius:5px;
        border:1px solid #d9d9d9;
        width: 80%;
        max-width:720px;
        color:#232323;
    }

    .tips-wrap {
        padding:10px 15px;
    }

    .tips-text {
        margin:5px 0;
        font-size:12px;
    }

    .input-sp {
        width:90px;
        float:left;
    }

    .payforbtn {
        margin-top:25px;
    }

    .logonew {

        width:250px;
        height:170px;
        text-align:center;
        line-height:170px;
        border-radius:5px;
        margin:0 auto;
        margin-bottom:10px;
        overflow:hidden;
        border-radius:5px;
        img {
            width:100%;
            height:100%;
        }
    }

    .right-sp {
        margin-left: 10px;
    }

    .showUploadImgArea {
        margin:10px 0;
        text-align: center;
    }

    .btn-wrap-img {
        margin-top:20px;
        text-align: center;
    }

    .TheOrder {
        margin-bottom:15px;
    }

    /*
    *payfor css
    *
    */
        .payforconfirm {
            position:fixed;
            left:0;
            top:0;
            z-index:222;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,.5);
            display: none;
        }

        .confirmToast {
            position:absolute;
            left:50%;
            top:50%;
            width:450px;
            height:240px;
            margin-left:-225px;
            margin-top: -120px;
            background-color: #ffffff;
            border-radius: 5px;
        }

        .showpayforclass {
            display: block;
        }

        .confirmToast-h {
            position:relative;
            height:50px;
            border-bottom:1px solid rgb(229,229,229);
            text-align: center;
            line-height: 50px;
            font-size: 16px;
            color:#333333;
            font-weight: bold;
        }

        .confirmToast-b {
            padding: 35px 15px;
        }

        .confirmToast-b > p {
            text-align:center;
            color:#323232;
            font-size:12px;
            margin:10px 0;
        }

        .btn-payfor {
            margin-top:35px;
        }

        .btn-payfor-wrap {
            width:280px;
            margin:0 auto;
            overflow:hidden;
        }


        .payfor-l-r {
            width:120px;
            height:25px;
            border-radius: 3px;
            background-color: rgb(115,162,83);
            color:#ffffff;
            font-size:12px;
            line-height: 25px;
            text-align:center;
            cursor: pointer;
        }

        .payfor-left {
            float: left;
        }

        .payfor-right {
            float: right;
        }

        .closeproblem {
            position:absolute;
            right: 5px;
            top:10px;
            color:rgb(150,185,126);
            font-size:18px;
            cursor: pointer;
            padding: 0 15px;
            z-index: 2;
        }
    /*
    *payfor css
    *
    */

    .ant-steps .ant-steps-main {
        display: block;
    }

    .payforlist {
        padding:5px;
    }

    .payforbody {
        padding-left:20px;
    }

    .payfor-title-glp {
        font-weight:bold;
    }

    .input-file {
        float:left;
        margin-right:10px;
    }

    .message-bd {
        margin-top:20px;
    }

    .border-ls {
        border:1px solid #ddd;
        border-radius:5px;
    }

    @media all and (max-width: 900px) {
        .statuslist {
            display:none;
        }
    }
}